@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 509px;
            column-gap: 50px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,244px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 45px 178px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 0;
            column-gap: 109px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: center;
            grid-template: repeat(2,minmax(270px,auto))/repeat(3,270px);
        }
        &__ratings {
            grid-template: repeat(2,70px)/repeat(3,290px);
            &-item {
                grid-template: 36px 14px/169px 40px;
                column-gap: 80px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    } 
    .title {
        &_fs36 {
            font-size: 30px;
        }
    } 
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            row-gap: 0;
            &-item {
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: minmax(auto, 532px);
            row-gap: 40px;
            justify-content: center;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(2,minmax(270px,auto))/repeat(2,330px);
        }
        &__ratings {
            grid-template: repeat(2,70px)/repeat(2,auto);
            &-item {
                grid-template: 36px 14px/auto 40px;
                column-gap: 80px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__photo {
            grid-row: 1;
        }
        &__wrapper {
            grid-template: 450px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: 330px;
        }
        &__ratings {
            &-item {
                column-gap: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fs48 {
            font-size: 26px;
        }
        &_fs36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
            justify-content: center;
            &-item {
                grid-template-columns: 40px auto;
            }
        }
    }
    .skills {
        margin-top: 40px;
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: 1fr;
        }
        &__ratings {
            margin-top: 40px;
            grid-template: repeat(2,70px)/repeat(1,auto);
            &-item {
                column-gap: 20px;
            }
        }
    }
}