.price {
    margin-top: 60px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
        padding: 0 60px;
    }
    &__item {
        display: grid;
        position: relative;
        grid-template: repeat(2, minmax(21px, auto))/ repeat(2, auto);
        padding-left: 25px;
        row-gap: 5px;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            position: absolute;
            top: 3px;
        }
        &-price {
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            justify-self: end;
        }
        &-descr {
            font-size: 12px;
            line-height: 16px;
            grid-column: 1/3;

        }
    }
}