.resume {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
    }
    &__col {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: ' ';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: ' ';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16.5px;
                    left: 7px;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        padding-left: 8px;
        &:before {
            content: ' ';
            position: absolute;
            height: 1px;
            width: 45px;
            background-color: #000;
            top: 58px;
        }
        &-head {
            position: relative;
            padding: 35px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
        &-body {
            padding: 12px 0 0 43px; 
            font-size: 12px;
        }
        &-icon {
            position: absolute;
            top: 38px;
            left: 44px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
    }
}